<form action="/person/update/<%=person.id%>" method="POST">
    <h2>Edytuj dane</h2>

    <input type="text" value="<%=person.name%>" name="name" > <br />
    <input type="text" value="<%=person.age%>" name="age" > <br />
    <input type="submit" value="Zapisz" > 
    

</form>